html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-image:url("../img/cinema.png");
    background-size:cover;
    color:white;
}
.content{
    background-color: rgba(0,0,0,0.6);
}
.header{
    display: flex;
    flex-direction: column;
}
.menu{
    display:flex;
    justify-content: space-around;
}
.menu a{
    border: solid white;
    display:flex;
    flex:0;
}
.menu a:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
}
.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    text-overflow: ellipsis;
    flex-direction: column;
}
.footer{
    display:flex;
    background-color: rgba(0,0,0,0.6);
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    display: flex;
    flex-direction: column;
    max-width:240px ;
    background-color: rgba(0,0,0,0.6);
}

span{
    display: flex;
    justify-content: center;
}
.lienMovie{
    display: flex;
    flex:1;
}
.img_movie_fromPeople{
    max-width:120px;
    max-height: 150px;
}
a:not(.welcome,.menu a){
    display: flex;
    flex:1;
}
h1{
    text-align:center;
}
.welcome{
    display: flex;
    justify-content: center;
    flex: 0;

}
.welcome:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
}
a:link {
    text-decoration: none;
    color: white;
    font-family:cursive;
    font-size:large;
}
a:visited {
    text-decoration: none;
    color: white;
    font-family:cursive;
}
.img_movie{
    width: 200px;
    transition: transform .1s;
}
.img_movie:hover{
    -ms-transform: scale(1.2); /* IE 9 */
    transform: scale(1.2);
    -webkit-box-shadow: 5px 5px 15px 5px #292C99;
    box-shadow: 5px 5px 15px 5px #292C99;
}
.movie__info{
    display: flex;
    flex-direction: column;
    flex:1;
}
.title__date{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.movie__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.movie__originalTitle{
    display: flex;
    justify-content: end;
}
.people__info{
    display: flex;
    flex-direction: row;
}
.people__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.people{
    display:flex;
}
.year{
    display: flex;
}
.date__Death{
    flex:1;
}
.date__bird{
    flex:1;
}
.movie__text2{
    display: flex;
    flex-direction: column;
    flex:1;
}
.movie__text3{
    display: flex;
    justify-content: space-evenly;

}
.movie__role{
    flex:1;
}
.movie__form{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
@media screen and (min-width:700px){
    .movie__info{
        flex-direction: row;
    }
}
@media screen and (min-width:1000px){
    body{
        width: 1000px;
        margin:auto;
    }
}
