html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    justify-content: center;
    border: solid black;
}

.content {
    display: flex;
    flex: 1;
    overflow-y: auto;
    text-overflow: ellipsis;
    flex-direction: column;
}
.footer{
    display:flex;
}
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie{
    display: flex;
    flex-direction: column;
    max-width:240px ;
}

span{
    display: flex;
    justify-content: center;
    border: black solid;
}
.lienMovie{
    display: flex;
    flex:1;
}
.movie__info{
    display: flex;
    flex-direction: row;
    flex:1;
}
.title__date{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.movie__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.movie__originalTitle{
    display: flex;
    justify-content: end;
}
.people__info{
    display: flex;
    flex-direction: row;
}
.people__text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.people{
    display:flex;
}
.year{
    display: flex;
}
.date__Death{
    flex:1;
}
.date__bird{
    flex:1;
}
.movie__text2{
    display: flex;
    flex-direction: column;
    flex:1;
}
.movie__text3{
    display: flex;
    flex:1;
}
.movie__name{
    flex:1;
}
.movie__date{
    flex:1;
}
.movie__role{
    flex:1;
}